resources/wsdl/BusinessCommerce/Statistics.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.webserviceX.NET" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
      <s:element name="GetStatistics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="X" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStatisticsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Sums" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Average" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="StandardDeviation" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="skewness" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Kurtosis" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStatisticsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatistics" />
  </wsdl:message>
  <wsdl:message name="GetStatisticsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatisticsResponse" />
  </wsdl:message>
  <wsdl:portType name="StatisticsSoap">
    <wsdl:operation name="GetStatistics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Statistical (Sum,Average,Standard Deviation,skewness and Kurtosis)</wsdl:documentation>
      <wsdl:input message="tns:GetStatisticsSoapIn" />
      <wsdl:output message="tns:GetStatisticsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="StatisticsHttpGet" />
  <wsdl:portType name="StatisticsHttpPost" />
  <wsdl:binding name="StatisticsSoap" type="tns:StatisticsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatistics">
      <soap:operation soapAction="http://www.webserviceX.NET/GetStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StatisticsSoap12" type="tns:StatisticsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatistics">
      <soap12:operation soapAction="http://www.webserviceX.NET/GetStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StatisticsHttpGet" type="tns:StatisticsHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="StatisticsHttpPost" type="tns:StatisticsHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="Statistics">
    <wsdl:port name="StatisticsSoap" binding="tns:StatisticsSoap">
      <soap:address location="http://www.webservicex.net/Statistics.asmx" />
    </wsdl:port>
    <wsdl:port name="StatisticsSoap12" binding="tns:StatisticsSoap12">
      <soap12:address location="http://www.webservicex.net/Statistics.asmx" />
    </wsdl:port>
    <wsdl:port name="StatisticsHttpGet" binding="tns:StatisticsHttpGet">
      <http:address location="http://www.webservicex.net/Statistics.asmx" />
    </wsdl:port>
    <wsdl:port name="StatisticsHttpPost" binding="tns:StatisticsHttpPost">
      <http:address location="http://www.webservicex.net/Statistics.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>